#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>


/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 3 ESC  &kp Q     &kp W     &kp E        &kp R       &kp T     &kp Y      &kp U  &kp I        &kp O      &kp P            &kp BACKSPACE
&kp TAB    &kp A     &kp S     &kp D        &kp F       &kp G     &kp H      &kp J  &kp K        &kp L      &lt 2 SEMICOLON  &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C        &kp V       &kp B     &kp N      &kp M  &lt 4 COMMA  &kp RCTRL  &kp UP_ARROW     &kp RSHIFT
&kp LCTRL  &kp LGUI  &kp LALT  &lt 1 SPACE  &lt 3 LEFT  &kp DOWN  &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&none  &none &none &none &none &none    &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none  &none &none &none &none &none    &none  &none         &none         &none         &none         &none
&none  &none  &none  &trans  &none  &none  &none  &none         &bt BT_CLR    &none         &sys_reset    &bootloader
&none  &none  &none  &none   &none  &none  &none
            >;
        };
    };
};
